@using SAPSec.Web.ViewModels
@using System.Linq

@{
    Layout = "Views/Shared/_Layout";

    var comparisonModel = ViewData["ComparisonSchool"] as SimilarSchoolsComparisonViewModel;
    var mainSchool = comparisonModel?.SimilarSchoolViewModels?.FirstOrDefault(s => !s.IsComparedSchool);
    var comparedSchool = comparisonModel?.SimilarSchoolViewModels?.FirstOrDefault(s => s.IsComparedSchool);

    var currentController = (string?)ViewContext.RouteData.Values["controller"];
    var currentAction = (string?)ViewContext.RouteData.Values["action"];

    var routeValues = new Dictionary<string, object>();

    if (mainSchool is not null && comparedSchool is not null)
    {
        routeValues["urn"] = mainSchool.Urn;
        routeValues["comparisonUrn"] = comparedSchool.Urn;
    }
}


@section Breadcrumbs {
    <nav class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "SchoolHome")">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link"
                   href="@Url.Action("ViewSimilarSchools", "School", new { urn = @mainSchool.Urn})">
                    View similar schools
                </a>
            </li>
        </ol>
    </nav>
}

<div class="govuk-grid-row govuk-!-margin-top-1">
    @* LEFT: back link alone *@
    <div class="app-side-navigation-container">
        <a class="govuk-back-link"
           href="@Url.Action("ViewSimilarSchools", "School", new { urn = @mainSchool.Urn })">
            Back
        </a>
    </div>
    
    @{
        string selected(bool condition)
            => condition ? "moj-sub-navigation__item--selected" : "";
    }
    <div class="app-body-container-with-side-navigation">

        <span class="govuk-caption-l govuk-!-font-size-27">
            @mainSchool.EstablishmentName
        </span>

        <span class="govuk-caption-m govuk-!-font-size-24 govuk-!-font-weight-bold">
            Comparing to
        </span>

        <h1 class="govuk-heading-xl govuk-!-font-size-50 govuk-!-font-weight-bold">
            @comparedSchool.EstablishmentName
        </h1>

        <nav class="moj-sub-navigation moj-sub-navigation--inline"
             aria-label="Compare sections">
            <ul class="moj-sub-navigation__list">

                <li class="moj-sub-navigation__item @selected(currentAction == "Index")">
                    <a class="moj-sub-navigation__link"
                       href="@Url.Action("Index", "SimilarSchoolsComparison", routeValues)"
                       aria-current="@(currentAction == "Index" ? "page" : null)">
                        Similarity
                    </a>
                </li>

                <li class="moj-sub-navigation__item @selected(currentAction == "Ks4HeadlineMeasures")">
                    <a class="moj-sub-navigation__link"
                       href="@Url.Action("Ks4HeadlineMeasures", "SimilarSchoolsComparison", routeValues)"
                       aria-current="@(currentAction == "Ks4HeadlineMeasures" ? "page" : null)">
                        KS4 headline measures
                    </a>
                </li>

                <li class="moj-sub-navigation__item @selected(currentAction == "Ks4CoreSubjects")">
                    <a class="moj-sub-navigation__link"
                       href="@Url.Action("Ks4CoreSubjects","SimilarSchoolsComparison", routeValues)"
                       aria-current="@(currentAction == "Ks4CoreSubjects" ? "page" : null)">
                        KS4 core subjects
                    </a>
                </li>

                <li class="moj-sub-navigation__item @selected(currentAction == "Attendance")">
                    <a class="moj-sub-navigation__link"
                       href="@Url.Action("Attendance","SimilarSchoolsComparison", routeValues)"
                       aria-current="@(currentAction == "Attendance" ? "page" : null)">
                        Attendance
                    </a>
                </li>

                <li class="moj-sub-navigation__item @selected(currentAction == "SchoolDetails")">
                    <a class="moj-sub-navigation__link"
                       href="@Url.Action("SchoolDetails","SimilarSchoolsComparison", routeValues)"
                       aria-current="@(currentAction == "SchoolDetails" ? "page" : null)">
                        School details
                    </a>
                </li>

            </ul>
        </nav>

        
        <div class="govuk-!-margin-top-6">
            @RenderBody()
        </div>

    </div>
</div>

@await RenderSectionAsync("Scripts", required: false)
