@using System.Text.Json
@using SAPSec.Web.Constants
@model SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel
@{
    Layout = "_Layout";
    ViewData[ViewDataKeys.Title] = $"KS4 core subject GCSE results compared to {Model.SimilarSchoolName}";
}

<h1 class="govuk-heading-l">KS4 core subject GCSE results</h1>

<p class="govuk-body">
    How @Model.Name compares with @Model.SimilarSchoolName based on KS4 core subject GCSE results.
</p>

<form action="" method="get">
    @foreach (var measure in Model.Measures!)
    {
        <section aria-labelledby="@measure.MeasureInfo.HtmlPrefix-heading" class="app-ks4-attainment govuk-!-margin-top-9">
            <h2 class="govuk-heading-m" id="@measure.MeasureInfo.HtmlPrefix-heading">@measure.MeasureInfo.Name</h2>
        
            <partial name="_Measure" model=@measure />
        </section>
    }
</form>

@section Scripts {
    <script type="module" add-nonce="true">
        import * as MeasureFilters from '/js/measure-filters.js'
        import * as ChartFactory from '/js/chart-factory.js'

        MeasureFilters.initAll();
        ChartFactory.initAll();
    </script>
    <script src="~/js/chart.umd.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js" asp-append-version="true" add-nonce="true"></script>
}