@using System.Text.Json
@model SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel
@{
    Layout = "_Layout";
    var ks4YearLabels = SAPSec.Web.ViewModels.Ks4YearLabelConfig.YearByYear;
    var chartColors = new[] { "#ca357c", "#2a1950", "#2a1950" };
    var yearByYearColors = new[] { "#ca357c", "#2a1950", "#4b9b7d" };
    bool HasAnyData(IEnumerable<decimal?> values) => values.Any(v => v.HasValue);
}

<h1 class="govuk-heading-l">KS4 headline performance measures</h1>

<p class="govuk-body">
    How @Model.Name compares with @Model.SimilarSchoolName based on KS4 headline performance measures.
</p>

<partial name="~/Views/Shared/_Ks4Progress8Info.cshtml" />


@section Scripts {
    <script src="~/js/chart.umd.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chart-factory.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/data-view-switcher.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/similar-schools-tabs-mobile-fix.js" asp-append-version="true" add-nonce="true"></script>
}

<section aria-labelledby="attainment8-heading" class="app-ks4-attainment">
    <partial name="~/Views/Shared/_Ks4Attainment8Intro.cshtml" />

    <div class="govuk-tabs govuk-!-margin-bottom-3 app-ks4-tabs" data-module="govuk-tabs">
        <h3 class="govuk-tabs__title">Attainment 8 views</h3>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#three-year-average">3-year average</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#year-by-year">Year by year</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#table-view">Table</a>
            </li>
        </ul>

        <div class="govuk-tabs__panel" id="three-year-average">
            @{
                var chartData = new
                {
                    labels = new[]
                    {
                        Model.Name,
                        Model.SimilarSchoolName,
                        "Schools in England average"
                    },
                    data = new decimal?[]
                    {
                        Model.ThisSchoolAttainment8ThreeYearAverage,
                        Model.SelectedSchoolAttainment8ThreeYearAverage,
                        Model.EnglandAttainment8ThreeYearAverage
                    }
                };
            }
            <div class="app-ks4-chart-container">
                @if (HasAnyData(chartData.data))
                {
                    <canvas id="ks4-attainment8-comparison-chart"
                            class="js-chart"
                            data-type="bar"
                            data-show-no-data-labels="true"
                            data-axis-step="30"
                            data-axis-max="90"
                            data-label-decimals="1"
                            data-bar-thickness="50"
                            data-category-percentage="0.7"
                            data-bar-percentage="1"
                            data-axis-suffix=""
                            data-chart='@Html.Raw(JsonSerializer.Serialize(chartData))'
                            data-colors='@Html.Raw(JsonSerializer.Serialize(chartColors))'>
                    </canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="year-by-year">
            @{
                var yearByYearData = new
                {
                    labels = ks4YearLabels,
                    datasets = new object[]
                    {
                        new
                        {
                            label = Model.Name,
                            borderWidth = 2,
                            pointRadius = 4,
                            pointHoverRadius = 5,
                            tension = 0,
                            data = new decimal[]
                            {
                                Model.ThisSchoolAttainment8YearByYear?.Previous2 ?? 0m,
                                Model.ThisSchoolAttainment8YearByYear?.Previous ?? 0m,
                                Model.ThisSchoolAttainment8YearByYear?.Current ?? 0m
                            }
                        },
                        new
                        {
                            label = Model.SimilarSchoolName,
                            borderWidth = 2,
                            pointRadius = 4,
                            pointHoverRadius = 5,
                            tension = 0,
                            data = new decimal[]
                            {
                                Model.SelectedSchoolAttainment8YearByYear?.Previous2 ?? 0m,
                                Model.SelectedSchoolAttainment8YearByYear?.Previous ?? 0m,
                                Model.SelectedSchoolAttainment8YearByYear?.Current ?? 0m
                            }
                        },
                        new
                        {
                            label = "Schools in England average",
                            borderWidth = 2,
                            borderColor = yearByYearColors[2],
                            backgroundColor = yearByYearColors[2],
                            pointRadius = 4,
                            pointHoverRadius = 5,
                            tension = 0,
                            data = new decimal[]
                            {
                                Model.EnglandAttainment8YearByYear?.Previous2 ?? 0m,
                                Model.EnglandAttainment8YearByYear?.Previous ?? 0m,
                                Model.EnglandAttainment8YearByYear?.Current ?? 0m
                            }
                        }
                    }
                };
            }
            <div class="app-ks4-chart-container">
                <canvas id="ks4-attainment8-comparison-yearbyyear-chart"
                        class="js-chart"
                        data-type="line"
                        data-axis-min="0"
                        data-axis-step="30"
                        data-axis-max="90"
                        data-axis-auto-skip="false"
                        data-axis-suffix=""
                        data-show-x-grid="true"
                        data-show-legend="true"
                        data-show-datalabels="false"
                        data-chart='@Html.Raw(JsonSerializer.Serialize(yearByYearData))'
                        data-colors='@Html.Raw(JsonSerializer.Serialize(yearByYearColors))'>
                </canvas>
            </div>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">School(s)</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">@Model.Name</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayValue(Model.ThisSchoolAttainment8YearByYear?.Previous2)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayValue(Model.ThisSchoolAttainment8YearByYear?.Previous)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayValue(Model.ThisSchoolAttainment8YearByYear?.Current)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@Model.ThisSchoolAttainment8Display</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">@Model.SimilarSchoolName</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayValue(Model.SelectedSchoolAttainment8YearByYear?.Previous2)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayValue(Model.SelectedSchoolAttainment8YearByYear?.Previous)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayValue(Model.SelectedSchoolAttainment8YearByYear?.Current)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@Model.SelectedSchoolAttainment8Display</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Schools in England average</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayValue(Model.EnglandAttainment8YearByYear?.Previous2)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayValue(Model.EnglandAttainment8YearByYear?.Previous)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayValue(Model.EnglandAttainment8YearByYear?.Current)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@Model.EnglandAttainment8Display</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section aria-labelledby="eng-maths-heading" class="app-ks4-attainment govuk-!-margin-top-7">
    <h2 class="govuk-heading-m" id="eng-maths-heading">Grade achieved in English and maths GCSEs</h2>

    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="engMathsGrade">Grade</label>
            <select class="govuk-select"
                    id="engMathsGrade"
                    name="engMathsGrade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4HeadlineMeasuresData", "SimilarSchoolsComparison", new { urn = Model.Urn, similarSchoolUrn = Model.SimilarSchoolUrn })"
                    data-query-key="grade"
                    data-bar-chart-id="eng-maths-comparison-chart"
                    data-line-chart-id="eng-maths-comparison-yearbyyear-chart"
                    data-cell-attribute="data-eng-maths-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchool":"similar","england":"england"}'
                    data-series-keys='["thisSchool","similarSchool","england"]'>
                <option value="4" selected>Grade 4 and above</option>
                <option value="5">Grade 5 and above</option>
            </select>
        </div>
    
    </div>

    <div class="app-ks4-tabs govuk-tabs govuk-!-margin-top-6 govuk-!-margin-bottom-3" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#eng-maths-three-year-average">3-year average</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#eng-maths-year-by-year">Year by year</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#eng-maths-table-view">Table</a>
            </li>
        </ul>

        <div class="govuk-tabs__panel" id="eng-maths-three-year-average">
            @{
                var engMathsChartData = new
                {
                    labels = new[]
                    {
                        Model.Name,
                        Model.SimilarSchoolName,
                        "Schools in England average"
                    },
                    data = new decimal?[]
                    {
                        Model.ThisSchoolEngMaths49ThreeYearAverage,
                        Model.SelectedSchoolEngMaths49ThreeYearAverage,
                        Model.EnglandEngMaths49ThreeYearAverage
                    }
                };
            }
            <div class="app-ks4-chart-container">
                @if (HasAnyData(engMathsChartData.data))
                {
                    <canvas id="eng-maths-comparison-chart"
                            class="js-chart"
                            data-type="bar"
                            data-show-no-data-labels="true"
                            data-axis-step="25"
                            data-axis-max="100"
                            data-axis-suffix="%"
                            data-label-decimals="0"
                            data-bar-thickness="50"
                            data-category-percentage="0.7"
                            data-bar-percentage="1"
                            data-chart='@Html.Raw(JsonSerializer.Serialize(engMathsChartData))'
                            data-colors='@Html.Raw(JsonSerializer.Serialize(chartColors))'>
                    </canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>

        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="eng-maths-year-by-year">
            @{
                var engMathsYearByYearData = new
                {
                    labels = ks4YearLabels,
                    datasets = new object[]
                    {
                        new
                        {
                            label = Model.Name,
                            borderWidth = 2,
                            pointRadius = 4,
                            pointHoverRadius = 5,
                            tension = 0,
                            data = new decimal?[]
                            {
                                Model.ThisSchoolEngMaths49YearByYear?.Previous2,
                                Model.ThisSchoolEngMaths49YearByYear?.Previous,
                                Model.ThisSchoolEngMaths49YearByYear?.Current
                            }
                        },
                        new
                        {
                            label = Model.SimilarSchoolName,
                            borderWidth = 2,
                            pointRadius = 4,
                            pointHoverRadius = 5,
                            tension = 0,
                            data = new decimal?[]
                            {
                                Model.SelectedSchoolEngMaths49YearByYear?.Previous2,
                                Model.SelectedSchoolEngMaths49YearByYear?.Previous,
                                Model.SelectedSchoolEngMaths49YearByYear?.Current
                            }
                        },
                        new
                        {
                            label = "Schools in England average",
                            borderWidth = 2,
                            pointRadius = 4,
                            pointHoverRadius = 5,
                            tension = 0,
                            data = new decimal?[]
                            {
                                Model.EnglandEngMaths49YearByYear?.Previous2,
                                Model.EnglandEngMaths49YearByYear?.Previous,
                                Model.EnglandEngMaths49YearByYear?.Current
                            }
                        }
                    }
                };
            }
            <div class="app-ks4-chart-container">
                <canvas id="eng-maths-comparison-yearbyyear-chart"
                        class="js-chart"
                        data-type="line"
                        data-axis-step="25"
                        data-axis-max="100"
                        data-axis-suffix="%"
                        data-show-legend="true"
                        data-show-datalabels="false"
                        data-show-x-grid="true"
                        data-chart='@Html.Raw(JsonSerializer.Serialize(engMathsYearByYearData))'
                        data-colors='@Html.Raw(JsonSerializer.Serialize(yearByYearColors))'>
                </canvas>
            </div>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="eng-maths-table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">School(s)</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">@Model.Name</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="this-prev2">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.ThisSchoolEngMaths49YearByYear?.Previous2)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="this-prev">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.ThisSchoolEngMaths49YearByYear?.Previous)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="this-current">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.ThisSchoolEngMaths49YearByYear?.Current)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="this-avg">@Model.ThisSchoolEngMaths49Display</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">@Model.SimilarSchoolName</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="similar-prev2">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.SelectedSchoolEngMaths49YearByYear?.Previous2)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="similar-prev">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.SelectedSchoolEngMaths49YearByYear?.Previous)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="similar-current">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.SelectedSchoolEngMaths49YearByYear?.Current)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="similar-avg">@Model.SelectedSchoolEngMaths49Display</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Schools in England average</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="england-prev2">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.EnglandEngMaths49YearByYear?.Previous2)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="england-prev">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.EnglandEngMaths49YearByYear?.Previous)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="england-current">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.EnglandEngMaths49YearByYear?.Current)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-eng-maths-cell="england-avg">@Model.EnglandEngMaths49Display</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>

<section aria-labelledby="destinations-heading" class="app-ks4-attainment govuk-!-margin-top-7">
    <h2 class="govuk-heading-m" id="destinations-heading">Staying in education or entering employment</h2>
    <details class="govuk-details app-ks4-copy govuk-!-margin-bottom-3 app-ks4-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Information about staying in education or entering employment data</span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body-s govuk-!-margin-bottom-2">
                This data shows the number of pupils who either stayed in education, started an apprenticeship, or entered employment for at least two terms after completing key stage 4.
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-2">
                The most recent data covers pupils who finished year 11 in 2023. The 3-year average is the average of pupils completed year 11 in 2021,2022 and 2023.
            </p>
        </div>
    </details>


    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="destinationsType">Destination</label>
            <select class="govuk-select"
                    id="destinationsType"
                    name="destinationsType"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4DestinationsData", "SimilarSchoolsComparison", new { urn = Model.Urn, similarSchoolUrn = Model.SimilarSchoolUrn })"
                    data-query-key="destination"
                    data-bar-chart-id="destinations-comparison-chart"
                    data-line-chart-id="destinations-comparison-yearbyyear-chart"
                    data-cell-attribute="data-destinations-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchool":"similar","england":"england"}'
                    data-series-keys='["thisSchool","similarSchool","england"]'>
                <option value="all" selected>All destinations</option>
                <option value="education">Education</option>
                <option value="employment">Employment and apprenticeships</option>
            </select>
        </div>
    </div>

    <div class="app-ks4-tabs govuk-tabs govuk-!-margin-top-6" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#destinations-three-year-average">3-year average</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#destinations-year-by-year">Year by year</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#destinations-table-view">Table</a>
            </li>
        </ul>

        <div class="govuk-tabs__panel" id="destinations-three-year-average">
            @{
                var destinationsChartData = new
                {
                    labels = new[]
                    {
                        Model.Name,
                        Model.SimilarSchoolName,
                        "Schools in England average"
                    },
                    data = new decimal?[]
                    {
                        Model.ThisSchoolDestinationsThreeYearAverage,
                        Model.SelectedSchoolDestinationsThreeYearAverage,
                        Model.EnglandDestinationsThreeYearAverage
                    }
                };
            }
            <div class="app-ks4-chart-container">
                @if (HasAnyData(destinationsChartData.data))
                {
                    <canvas id="destinations-comparison-chart"
                            class="js-chart"
                            data-type="bar"
                            data-show-no-data-labels="true"
                            data-axis-step="25"
                            data-axis-max="100"
                            data-axis-suffix="%"
                            data-label-decimals="0"
                            data-bar-thickness="50"
                            data-category-percentage="0.7"
                            data-bar-percentage="1"
                            data-chart='@Html.Raw(JsonSerializer.Serialize(destinationsChartData))'
                            data-colors='@Html.Raw(JsonSerializer.Serialize(chartColors))'>
                    </canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="destinations-year-by-year">
            @{
                var destinationsYearByYearData = new
                {
                    labels = ks4YearLabels,
                    datasets = new object[]
                    {
                        new
                        {
                            label = Model.Name,
                            borderWidth = 2,
                            pointRadius = 4,
                            pointHoverRadius = 5,
                            tension = 0,
                            data = new decimal?[]
                            {
                                Model.ThisSchoolDestinationsYearByYear?.Previous2,
                                Model.ThisSchoolDestinationsYearByYear?.Previous,
                                Model.ThisSchoolDestinationsYearByYear?.Current
                            }
                        },
                        new
                        {
                            label = Model.SimilarSchoolName,
                            borderWidth = 2,
                            pointRadius = 4,
                            pointHoverRadius = 5,
                            tension = 0,
                            data = new decimal?[]
                            {
                                Model.SelectedSchoolDestinationsYearByYear?.Previous2,
                                Model.SelectedSchoolDestinationsYearByYear?.Previous,
                                Model.SelectedSchoolDestinationsYearByYear?.Current
                            }
                        },
                        new
                        {
                            label = "Schools in England average",
                            borderWidth = 2,
                            pointRadius = 4,
                            pointHoverRadius = 5,
                            tension = 0,
                            data = new decimal?[]
                            {
                                Model.EnglandDestinationsYearByYear?.Previous2,
                                Model.EnglandDestinationsYearByYear?.Previous,
                                Model.EnglandDestinationsYearByYear?.Current
                            }
                        }
                    }
                };
            }
            <div class="app-ks4-chart-container">
                <canvas id="destinations-comparison-yearbyyear-chart"
                        class="js-chart"
                        data-type="line"
                        data-axis-step="25"
                        data-axis-max="100"
                        data-axis-suffix="%"
                        data-show-legend="true"
                        data-show-datalabels="false"
                        data-show-x-grid="true"
                        data-chart='@Html.Raw(JsonSerializer.Serialize(destinationsYearByYearData))'
                        data-colors='@Html.Raw(JsonSerializer.Serialize(yearByYearColors))'>
                </canvas>
            </div>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="destinations-table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">School(s)</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">@Model.Name</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="this-prev2">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.ThisSchoolDestinationsYearByYear?.Previous2)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="this-prev">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.ThisSchoolDestinationsYearByYear?.Previous)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="this-current">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.ThisSchoolDestinationsYearByYear?.Current)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="this-avg">@Model.ThisSchoolDestinationsDisplay</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">@Model.SimilarSchoolName</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="similar-prev2">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.SelectedSchoolDestinationsYearByYear?.Previous2)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="similar-prev">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.SelectedSchoolDestinationsYearByYear?.Previous)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="similar-current">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.SelectedSchoolDestinationsYearByYear?.Current)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="similar-avg">@Model.SelectedSchoolDestinationsDisplay</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Schools in England average</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="england-prev2">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.EnglandDestinationsYearByYear?.Previous2)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="england-prev">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.EnglandDestinationsYearByYear?.Previous)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="england-current">@SAPSec.Web.ViewModels.SimilarSchoolsComparisonViewModel.DisplayWholePercent(Model.EnglandDestinationsYearByYear?.Current)</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" data-destinations-cell="england-avg">@Model.EnglandDestinationsDisplay</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

