@using SAPSec.Web.Constants
@model SAPSec.Web.ViewModels.Components.CookiesViewModel
<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on @LayoutConstants.ServiceName" id="cookies-banner" data-banner-state="@Model.BannerState" hidden>
    <div class="govuk-cookie-banner__message govuk-width-container" id="unselected-cookies-banner">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-cookie-banner__heading govuk-heading-m">
                    Cookies on @LayoutConstants.ServiceName
                </h2>
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">We’d like to set additional cookies to understand how you use this service and help us improve it. We also use cookies set by other sites to help us deliver content from their services.</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button type="button" class="govuk-button" data-module="govuk-button" id="accept-cookies" name="cookies-analytics" value="true">
                Accept additional cookies
            </button>
            <button type="button" class="govuk-button" data-module="govuk-button" id="reject-cookies" name="cookies-analytics" value="false">
                Reject additional cookies
            </button>
            <a class="govuk-link" href="@Url.Action("Cookies", "StaticContent")">View cookies</a>
        </div>
    </div>
    <div class="govuk-cookie-banner__message govuk-width-container" role="alert" hidden id="accepted-cookies-banner" tabindex="-1">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">You've accepted additional cookies. You can <a class="govuk-link" href="@Url.Action("Cookies", "StaticContent")">change your cookie settings</a> at any time.</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button type="button" class="govuk-button hide-cookies" data-module="govuk-button">
                Hide this message
            </button>
        </div>
    </div>
    <div class="govuk-cookie-banner__message govuk-width-container" role="alert" hidden id="rejected-cookies-banner" tabindex="-1">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">You've rejected additional cookies. You can <a class="govuk-link" href="@Url.Action("Cookies", "StaticContent")">change your cookie settings</a> at any time.</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button type="button" class="govuk-button hide-cookies" data-module="govuk-button">
                Hide this message
            </button>
        </div>
    </div>
</div>

<script add-nonce="true">
    function showBannerMessage(messageId) {
        var bannerMessage = document.getElementById(messageId);
        bannerMessage.removeAttribute("hidden");
        bannerMessage.focus();
    }

    function acceptOrRejectClick(enabled) {
        if (window.setAppInsightsCookieEnabled !== undefined) {
            window.setAppInsightsCookieEnabled(enabled);
        }

        document.cookie = `@Model.CookieName=${enabled ? "enabled" : "disabled"}; path=/; max-age=${60 * 60 * 24 * 365}; secure`;
        document.getElementById("unselected-cookies-banner").setAttribute("hidden", "hidden");
        if (enabled) {
            showBannerMessage("accepted-cookies-banner");
        } else {
            showBannerMessage("rejected-cookies-banner");
            if (enabled === false) {
                document.cookie = "ai_session=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
                document.cookie = "ai_user=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
            }
        }
    }

    var cookiesBanner = document.getElementById("cookies-banner");
    if (cookiesBanner !== undefined) {
        cookiesBanner.removeAttribute("hidden");
        var bannerState = cookiesBanner.getAttribute("data-banner-state");

        if (bannerState === "accepted") {
            document.getElementById("unselected-cookies-banner").setAttribute("hidden", "hidden");
            showBannerMessage("accepted-cookies-banner");
        } else if (bannerState === "rejected") {
            document.getElementById("unselected-cookies-banner").setAttribute("hidden", "hidden");
            showBannerMessage("rejected-cookies-banner");
        }

        var acceptButton = document.getElementById("accept-cookies");
        acceptButton.addEventListener("click", (e) => { e.preventDefault(); acceptOrRejectClick(true); });

        var rejectButton = document.getElementById("reject-cookies");
        rejectButton.addEventListener("click", (e) => { e.preventDefault(); acceptOrRejectClick(false); });

        var hideCookiesButtons = document.getElementsByClassName("hide-cookies");
        for (var i = 0; i < hideCookiesButtons.length; i++) {
            hideCookiesButtons[i].addEventListener("click", () => cookiesBanner.setAttribute("hidden", "hidden"));
        }
    }
</script>
