@using SAPSec.Web.Constants
@using System.Text.Json
@using SAPSec.Web.ViewModels
@using SAPSec.Core.Features.Ks4HeadlineMeasures.UseCases

@model MeasureViewModel

@{
    var ks4YearLabels = SAPSec.Web.ViewModels.Ks4YearLabelConfig.YearByYear;
}

<div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
    <canvas id="@Model.HtmlPrefix-school-yearbyyear-chart"
            class="js-chart js-chart--school-ks4-line"
            data-type="line"
            data-axis-min="0"
            data-axis-step="@(Model.DataType == MeasureDataType.Percentage? 25 : 30)"
            data-axis-max="@(Model.DataType == MeasureDataType.Percentage? 100 : 90)"
            data-axis-auto-skip="false"
            data-axis-suffix="@(Model.DataType == MeasureDataType.Percentage? "%" : "")"
            data-show-x-grid="true"
            data-show-legend="true"
            data-show-datalabels="false"
            data-chart='@Html.Raw(JsonSerializer.Serialize(
                new { 
                    labels = ks4YearLabels, 
                    datasets = new object[] { 
                        new { 
                            label = Model.SchoolName, 
                            data = new decimal?[] { 
                                Model.SchoolYearByYear.Previous2, 
                                Model.SchoolYearByYear.Previous, 
                                Model.SchoolYearByYear.Current 
                            } 
                        }, 
                        new { 
                            label = Model.SimilarSchoolsLabel, 
                            data = new decimal?[] { 
                                Model.SimilarSchoolsYearByYear.Previous2, 
                                Model.SimilarSchoolsYearByYear.Previous, 
                                Model.SimilarSchoolsYearByYear.Current 
                            } 
                        }, 
                        new { 
                            label = Model.LocalAuthorityLabel, 
                            data = new decimal?[] { 
                                Model.LocalAuthorityYearByYear.Previous2, 
                                Model.LocalAuthorityYearByYear.Previous, 
                                Model.LocalAuthorityYearByYear.Current 
                            } 
                        }, new { 
                            label = Model.EnglandLabel, 
                            data = new decimal?[] { 
                                Model.EnglandYearByYear.Previous2, 
                                Model.EnglandYearByYear.Previous, 
                                Model.EnglandYearByYear.Current 
                            } 
                        } 
                    } 
                }))'>
    </canvas>
</div>