@model SAPSec.Web.ViewModels.SchoolViewModel
@{
    ViewData["Title"] = $"{Model.Name} - School details";
}

<div class="govuk-width-container">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "SchoolSearch")">Home</a>
            </li>
        </ol>
    </nav>

                <span class="govuk-caption-l">@Model.Name</span>
                <h1 class="govuk-heading-xl">School details</h1>

                @* Location Section *@
                <h2 class="govuk-heading-m">Location</h2>
                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">@Model.Address</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Local authority</dt>
                        <dd class="govuk-summary-list__value">@Model.LocalAuthority</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Region</dt>
                        <dd class="govuk-summary-list__value">@Model.Region</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Urban/rural description</dt>
                        <dd class="govuk-summary-list__value">@Model.UrbanRuralDescription</dd>
                    </div>
                </dl>

                @* School Details Section *@
                <h2 class="govuk-heading-m">School details</h2>
                 <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">ID</dt>
                        <dd class="govuk-summary-list__value">@Model.Id</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Age range</dt>
                        <dd class="govuk-summary-list__value">@Model.AgeRange</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Gender of entry</dt>
                        <dd class="govuk-summary-list__value">@Model.GenderOfEntry</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Phase of education</dt>
                        <dd class="govuk-summary-list__value">@Model.PhaseOfEducation</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">School type</dt>
                        <dd class="govuk-summary-list__value">@Model.SchoolType</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Governance structure</dt>
                        <dd class="govuk-summary-list__value">@Model.GovernanceStructure</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Academy trust</dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.IsPartOfTrust)
                            {
                                <a href="https://get-information-schools.service.gov.uk/Groups/Group/Details/@Model.AcademyTrustId" class="govuk-link" aria-label="View Academy Trust" target="_blank" rel="noopener noreferrer">
                                    @Model.AcademyTrust
                                    <span class="govuk-visually-hidden">(opens in a new tab)</span>
                                </a>
                            }
                            else
                            {
                                @Model.AcademyTrust
                            }
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Admissions policy</dt>
                        <dd class="govuk-summary-list__value">@Model.AdmissionsPolicy</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">SEND integrated resource</dt>
                        <dd class="govuk-summary-list__value">@Model.SendIntegratedResource</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Religious character</dt>
                        <dd class="govuk-summary-list__value">@Model.ReligiousCharacter</dd>
                    </div>
                </dl>

                @* Contact Details Section *@
                <h2 class="govuk-heading-m">Contact details</h2>
                 <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Headteacher/Principal</dt>
                        <dd class="govuk-summary-list__value">@Model.HeadteacherPrincipal</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Website</dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.HasWebsite)
                            {
                                <a href="@Model.WebsiteUrl" class="govuk-link" aria-label="View website" target="_blank" rel="noopener noreferrer">
                                    @Model.WebsiteUrl
                                    <span class="govuk-visually-hidden">(opens in a new tab)</span>
                                </a>
                            }
                            else
                            {
                                @Model.Website
                            }
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Telephone</dt>
                        <dd class="govuk-summary-list__value">@Model.Telephone</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Email</dt>
                        <dd class="govuk-summary-list__value">@Model.Email</dd>
                    </div>
                </dl>

                @* Further Information Section *@
                <h2 class="govuk-heading-m">Further information</h2>
                 <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Ofsted report</dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.HasOfstedReport)
                            {
                                <a href="@Model.OfstedReportUrl" class="govuk-link" aria-label="View ofsted report" target="_blank" rel="noopener noreferrer">
                                    View the latest Ofsted report
                                    <span class="govuk-visually-hidden">(opens in a new tab)</span>
                                </a>
                            }
                            else
                            {
                                <text>No available data</text>
                            }
                        </dd>
                    </div>
                </dl>

            </div>
