@model SAPSec.Web.ViewModels.SchoolViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<p class="govuk-body">
    School details Test page.
</p>

<!-- User Information -->
<h2 class="govuk-heading-m">School details</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">@Model.Name</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Urn</dt>
        <dd class="govuk-summary-list__value">@Model.Urn</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Ukprn</dt>
        <dd class="govuk-summary-list__value">@Model.Ukprn</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">DfE Number</dt>
        <dd class="govuk-summary-list__value">@Model.DfENumber</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">View Data </dt>
        <dd class="govuk-summary-list__value">
            <a href="@Url.Action("Data", "Data", new {id = Model.Urn})" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Data!
            </a>
    </div>
</dl>