@model SAPSec.Web.ViewModels.SchoolViewModel
@{
    ViewData["Title"] = "Test Page";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Test Page for School</h1>

                <p class="govuk-body-l">
                     School details Test page.
                </p>

                <!-- User Information -->
                <h2 class="govuk-heading-m">School details</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">@Model.Name</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Urn</dt>
                        <dd class="govuk-summary-list__value">@Model.Urn</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Ukprn</dt>
                        <dd class="govuk-summary-list__value">@Model.Ukprn</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">DfE Number</dt>
                        <dd class="govuk-summary-list__value">@Model.DfENumber</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">View Data </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="@Url.Action("Data", "Data", new {id = Model.Urn})" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                                Data!
                            </a>
                    </div>



                    
                </dl>
            </div>
        </div>
    </main>
</div>