@using System.Text.Json
@using SAPSec.Web.ViewModels

@model Ks4CoreSubjectsPageViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "KS4 core subject GCSE results";
}

<div class="app-ks4-school-page">
<span class="govuk-caption-xl">@Model.SchoolDetails.Name</span>
<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<p class="govuk-body">
    Compare this school's GCSEs in KS4 core subjects with:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li><b>50</b> similar secondary phase schools (including all-throughs)</li>
    <li>the local authority average</li>
    <li>the national average</li>
</ul>

<p class="govuk-body">
    Find out <a href="/school/@Model.SchoolDetails.Urn/what-is-a-similar-school" class="govuk-link">how DfE defines what a similar school is</a>.
</p>

<section aria-labelledby="english-language-heading" class="app-ks4-attainment govuk-!-margin-top-9">
    <h2 class="govuk-heading-m" id="english-language-heading">English language</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="english-language-grade">Grade</label>
            <select class="govuk-select"
                    id="english-language-grade"
                    name="english-language-grade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjects", "School", new { urn = Model.SchoolDetails.Urn })"
                    data-query-key="english-language:grade"
                    data-target-id="english-language">
                    <option value="4" selected>Grade 4 and above</option>
                    <option value="5">Grade 5 and above</option>
                    <option value="7">Grade 7 and above</option>
            </select>
        </div>
    </div>

    <partial name="_Measure" model=@Model.EnglishLanguage />
</section>

<section aria-labelledby="english-literature-heading" class="app-ks4-attainment govuk-!-margin-top-9">
    <h2 class="govuk-heading-m" id="english-literature-heading">English literature</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="english-literature-grade">Grade</label>
            <select class="govuk-select"
                    id="english-literature-grade"
                    name="english-literature-grade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjects", "School", new { urn = Model.SchoolDetails.Urn })"
                    data-query-key="english-literature:grade"
                    data-target-id="english-literature">
                    <option value="4" selected>Grade 4 and above</option>
                    <option value="5">Grade 5 and above</option>
                    <option value="7">Grade 7 and above</option>
            </select>
        </div>
    </div>

    <partial name="_Measure" model=@Model.EnglishLiterature />
</section>

<section aria-labelledby="maths-heading" class="app-ks4-attainment govuk-!-margin-top-9">
    <h2 class="govuk-heading-m" id="maths-heading">Mathematics</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="maths-grade">Grade</label>
            <select class="govuk-select"
                    id="maths-grade"
                    name="maths-grade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjects", "School", new { urn = Model.SchoolDetails.Urn })"
                    data-query-key="maths:grade"
                    data-target-id="maths">
                    <option value="4" selected>Grade 4 and above</option>
                    <option value="5">Grade 5 and above</option>
                    <option value="7">Grade 7 and above</option>
            </select>
        </div>
    </div>

    <partial name="_Measure" model=@Model.Mathematics />
</section>

<section aria-labelledby="combined-science-heading" class="app-ks4-attainment govuk-!-margin-top-9">
    <h2 class="govuk-heading-m" id="combined-science-heading">Combined science (double award)</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="combined-science-grade">Grade</label>
            <select class="govuk-select"
                    id="combined-science-grade"
                    name="combined-science-grade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjects", "School", new { urn = Model.SchoolDetails.Urn })"
                    data-query-key="combined-science:grade"
                    data-target-id="combined-science">
                    <option value="4" selected>Grade 4-4 and above</option>
                    <option value="5">Grade 5-5 and above</option>
                    <option value="7">Grade 7-7 and above</option>
            </select>
        </div>
    </div>

    <partial name="_Measure" model=@Model.CombinedScienceDoubleAward />
</section>

<section aria-labelledby="biology-heading" class="app-ks4-attainment govuk-!-margin-top-9">
    <h2 class="govuk-heading-m" id="biology-heading">Biology</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="biology-grade">Grade</label>
            <select class="govuk-select"
                    id="biology-grade"
                    name="biology-grade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjects", "School", new { urn = Model.SchoolDetails.Urn })"
                    data-query-key="biology:grade"
                    data-target-id="biology">
                    <option value="4" selected>Grade 4 and above</option>
                    <option value="5">Grade 5 and above</option>
                    <option value="7">Grade 7 and above</option>
            </select>
        </div>
    </div>

    <partial name="_Measure" model=@Model.Biology />
</section>

<section aria-labelledby="chemistry-heading" class="app-ks4-attainment govuk-!-margin-top-9">
    <h2 class="govuk-heading-m" id="chemistry-heading">Chemistry</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="chemistry-grade">Grade</label>
            <select class="govuk-select"
                    id="chemistry-grade"
                    name="chemistry-grade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjects", "School", new { urn = Model.SchoolDetails.Urn })"
                    data-query-key="chemistry:grade"
                    data-target-id="chemistry">
                    <option value="4" selected>Grade 4 and above</option>
                    <option value="5">Grade 5 and above</option>
                    <option value="7">Grade 7 and above</option>
            </select>
        </div>
    </div>

    <partial name="_Measure" model=@Model.Chemistry />
</section>

<section aria-labelledby="physics-heading" class="app-ks4-attainment govuk-!-margin-top-9">
    <h2 class="govuk-heading-m" id="physics-heading">Physics</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="physics-grade">Grade</label>
            <select class="govuk-select"
                    id="physics-grade"
                    name="physics-grade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjects", "School", new { urn = Model.SchoolDetails.Urn })"
                    data-query-key="physics:grade"
                    data-target-id="physics">
                    <option value="4" selected>Grade 4 and above</option>
                    <option value="5">Grade 5 and above</option>
                    <option value="7">Grade 7 and above</option>
            </select>
        </div>
    </div>

    <partial name="_Measure" model=@Model.Physics />
</section>

</div>

@section Scripts {
    <script src="~/js/chart.umd.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chart-factory.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/data-view-switcher-2.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/similar-schools-tabs-mobile-fix.js" asp-append-version="true" add-nonce="true"></script>
}
