@using System.Text.Json
@model SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "KS4 core subject GCSE results";
    var ks4YearLabels = SAPSec.Web.ViewModels.Ks4YearLabelConfig.YearByYear;
    var labels = new[] { Model.SchoolLabel, Model.SimilarSchoolsLabel, Model.LocalAuthorityLabel, Model.EnglandLabel };
    bool HasAnyData(IEnumerable<decimal?> values) => values.Any(v => v.HasValue);

    var englishLanguageRows = new[]
    {
        (Key: "this", Label: Model.SchoolLabel, Series: Model.EnglishLanguage.SchoolYearByYear, Display: Model.EnglishLanguage.SchoolDisplay),
        (Key: "similar", Label: Model.SimilarSchoolsLabel, Series: Model.EnglishLanguage.SimilarSchoolsYearByYear, Display: Model.EnglishLanguage.SimilarSchoolsDisplay),
        (Key: "la", Label: Model.LocalAuthorityLabel, Series: Model.EnglishLanguage.LocalAuthorityYearByYear, Display: Model.EnglishLanguage.LocalAuthorityDisplay),
        (Key: "england", Label: Model.EnglandLabel, Series: Model.EnglishLanguage.EnglandYearByYear, Display: Model.EnglishLanguage.EnglandDisplay)
    };

    var englishLiteratureRows = new[]
    {
        (Key: "this", Label: Model.SchoolLabel, Series: Model.EnglishLiterature.SchoolYearByYear, Display: Model.EnglishLiterature.SchoolDisplay),
        (Key: "similar", Label: Model.SimilarSchoolsLabel, Series: Model.EnglishLiterature.SimilarSchoolsYearByYear, Display: Model.EnglishLiterature.SimilarSchoolsDisplay),
        (Key: "la", Label: Model.LocalAuthorityLabel, Series: Model.EnglishLiterature.LocalAuthorityYearByYear, Display: Model.EnglishLiterature.LocalAuthorityDisplay),
        (Key: "england", Label: Model.EnglandLabel, Series: Model.EnglishLiterature.EnglandYearByYear, Display: Model.EnglishLiterature.EnglandDisplay)
    };

    var mathsRows = new[]
    {
        (Key: "this", Label: Model.SchoolLabel, Series: Model.Maths.SchoolYearByYear, Display: Model.Maths.SchoolDisplay),
        (Key: "similar", Label: Model.SimilarSchoolsLabel, Series: Model.Maths.SimilarSchoolsYearByYear, Display: Model.Maths.SimilarSchoolsDisplay),
        (Key: "la", Label: Model.LocalAuthorityLabel, Series: Model.Maths.LocalAuthorityYearByYear, Display: Model.Maths.LocalAuthorityDisplay),
        (Key: "england", Label: Model.EnglandLabel, Series: Model.Maths.EnglandYearByYear, Display: Model.Maths.EnglandDisplay)
    };

    var combinedScienceRows = new[]
    {
        (Key: "this", Label: Model.SchoolLabel, Series: Model.CombinedScienceDoubleAward.SchoolYearByYear, Display: Model.CombinedScienceDoubleAward.SchoolDisplay),
        (Key: "similar", Label: Model.SimilarSchoolsLabel, Series: Model.CombinedScienceDoubleAward.SimilarSchoolsYearByYear, Display: Model.CombinedScienceDoubleAward.SimilarSchoolsDisplay),
        (Key: "la", Label: Model.LocalAuthorityLabel, Series: Model.CombinedScienceDoubleAward.LocalAuthorityYearByYear, Display: Model.CombinedScienceDoubleAward.LocalAuthorityDisplay),
        (Key: "england", Label: Model.EnglandLabel, Series: Model.CombinedScienceDoubleAward.EnglandYearByYear, Display: Model.CombinedScienceDoubleAward.EnglandDisplay)
    };

    var biologyRows = new[]
    {
        (Key: "this", Label: Model.SchoolLabel, Series: Model.Biology.SchoolYearByYear, Display: Model.Biology.SchoolDisplay),
        (Key: "similar", Label: Model.SimilarSchoolsLabel, Series: Model.Biology.SimilarSchoolsYearByYear, Display: Model.Biology.SimilarSchoolsDisplay),
        (Key: "la", Label: Model.LocalAuthorityLabel, Series: Model.Biology.LocalAuthorityYearByYear, Display: Model.Biology.LocalAuthorityDisplay),
        (Key: "england", Label: Model.EnglandLabel, Series: Model.Biology.EnglandYearByYear, Display: Model.Biology.EnglandDisplay)
    };

    var chemistryRows = new[]
    {
        (Key: "this", Label: Model.SchoolLabel, Series: Model.Chemistry.SchoolYearByYear, Display: Model.Chemistry.SchoolDisplay),
        (Key: "similar", Label: Model.SimilarSchoolsLabel, Series: Model.Chemistry.SimilarSchoolsYearByYear, Display: Model.Chemistry.SimilarSchoolsDisplay),
        (Key: "la", Label: Model.LocalAuthorityLabel, Series: Model.Chemistry.LocalAuthorityYearByYear, Display: Model.Chemistry.LocalAuthorityDisplay),
        (Key: "england", Label: Model.EnglandLabel, Series: Model.Chemistry.EnglandYearByYear, Display: Model.Chemistry.EnglandDisplay)
    };

    var physicsRows = new[]
    {
        (Key: "this", Label: Model.SchoolLabel, Series: Model.Physics.SchoolYearByYear, Display: Model.Physics.SchoolDisplay),
        (Key: "similar", Label: Model.SimilarSchoolsLabel, Series: Model.Physics.SimilarSchoolsYearByYear, Display: Model.Physics.SimilarSchoolsDisplay),
        (Key: "la", Label: Model.LocalAuthorityLabel, Series: Model.Physics.LocalAuthorityYearByYear, Display: Model.Physics.LocalAuthorityDisplay),
        (Key: "england", Label: Model.EnglandLabel, Series: Model.Physics.EnglandYearByYear, Display: Model.Physics.EnglandDisplay)
    };

    string SimilarSchoolsUrl() => Url.Action("ViewSimilarSchools", "SimilarSchools", new { urn = Model.SchoolDetails.Urn }) ?? $"/school/{Model.SchoolDetails.Urn}/view-similar-schools";
    string SimilarSchoolComparisonUrl(string similarSchoolUrn) => Url.Action("Index", "SimilarSchoolsComparison", new { urn = Model.SchoolDetails.Urn, similarSchoolUrn }) ?? $"/school/{Model.SchoolDetails.Urn}/view-similar-schools/{similarSchoolUrn}";
}

<div class="app-ks4-school-page">
<span class="govuk-caption-xl">@Model.SchoolDetails.Name</span>
<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<p class="govuk-body">
    Compare this school's KS4 core subject GCSE results with:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li><b>50</b> similar secondary phase schools (including all-throughs)</li>
    <li>local averages</li>
    <li>national averages</li>
</ul>

<p class="govuk-body">
    Find out <a href="/school/@Model.SchoolDetails.Urn/what-is-a-similar-school" class="govuk-link">how DfE defines what a similar school is</a>.
</p>

    <section aria-labelledby="english-language-heading" class="app-ks4-attainment govuk-!-margin-top-9">
    <h2 class="govuk-heading-m" id="english-language-heading">English language</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="englishLanguageGrade">Grade</label>
            <select class="govuk-select"
                    id="englishLanguageGrade"
                    name="englishLanguageGrade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjectsData", "School", new { urn = Model.SchoolDetails.Urn, subject = "english-language" })"
                    data-query-key="grade"
                    data-bar-chart-id="english-language-school-chart"
                    data-line-chart-id="english-language-school-yearbyyear-chart"
                    data-cell-attribute="data-english-language-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchools":"similar","localAuthority":"la","england":"england"}'
                    data-series-keys='["thisSchool","similarSchools","localAuthority","england"]'
                    data-top-performers-table-id="english-language-top-performers-table"
                    data-top-performer-base-url="/school/@Model.SchoolDetails.Urn/view-similar-schools">
                <option value="4" selected>Grade 4 and above</option>
                <option value="5">Grade 5 and above</option>
                <option value="7">Grade 7 and above</option>
            </select>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="englishLanguageCharacteristic">Pupil characteristic</label>
            <select class="govuk-select" id="englishLanguageCharacteristic" name="englishLanguageCharacteristic" disabled>
                <option selected>All pupils</option>
            </select>
        </div>
    </div>
    <div class="govuk-tabs govuk-!-margin-bottom-3 app-ks4-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"><a class="govuk-tabs__tab" href="#english-language-three-year-average">3-year average</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#english-language-year-by-year">Year by year</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#english-language-table-view">Table</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#english-language-top-performers">Top performers</a></li>
        </ul>
        <div class="govuk-tabs__panel" id="english-language-three-year-average">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                @{
                    var englishLanguageBarData = new decimal?[] { Model.EnglishLanguage.SchoolThreeYearAverage, Model.EnglishLanguage.SimilarSchoolsThreeYearAverage, Model.EnglishLanguage.LocalAuthorityThreeYearAverage, Model.EnglishLanguage.EnglandThreeYearAverage };
                }
                @if (HasAnyData(englishLanguageBarData))
                {
                    <canvas id="english-language-school-chart" class="js-chart js-chart--school-ks4-bar" data-type="bar" data-show-no-data-labels="true" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-label-decimals="0" data-bar-thickness="50" data-category-percentage="0.6" data-bar-percentage="1" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels, data = englishLanguageBarData }))'></canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="english-language-year-by-year">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                <canvas id="english-language-school-yearbyyear-chart" class="js-chart js-chart--school-ks4-line" data-type="line" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-show-legend="true" data-show-datalabels="false" data-show-x-grid="true" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels = ks4YearLabels, datasets = new object[] { new { label = Model.SchoolLabel, data = new decimal?[] { Model.EnglishLanguage.SchoolYearByYear.Previous2, Model.EnglishLanguage.SchoolYearByYear.Previous, Model.EnglishLanguage.SchoolYearByYear.Current } }, new { label = Model.SimilarSchoolsLabel, data = new decimal?[] { Model.EnglishLanguage.SimilarSchoolsYearByYear.Previous2, Model.EnglishLanguage.SimilarSchoolsYearByYear.Previous, Model.EnglishLanguage.SimilarSchoolsYearByYear.Current } }, new { label = Model.LocalAuthorityLabel, data = new decimal?[] { Model.EnglishLanguage.LocalAuthorityYearByYear.Previous2, Model.EnglishLanguage.LocalAuthorityYearByYear.Previous, Model.EnglishLanguage.LocalAuthorityYearByYear.Current } }, new { label = Model.EnglandLabel, data = new decimal?[] { Model.EnglishLanguage.EnglandYearByYear.Previous2, Model.EnglishLanguage.EnglandYearByYear.Previous, Model.EnglishLanguage.EnglandYearByYear.Current } } } }))'></canvas>
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="english-language-top-performers">
            <p class="govuk-body">These are the top performing similar schools for this measure.</p>
            <table class="govuk-table" id="english-language-top-performers-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Rank</th>
                        <th scope="col" class="govuk-table__header">School</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in Model.EnglishLanguage.TopPerformers)
                    {
                        <tr class="govuk-table__row" data-top-performer-row="english-language">
                            <td class="govuk-table__cell" data-top-performer-rank>@row.Rank</td>
                            <th scope="row" class="govuk-table__header" data-top-performer-name><a href="@SimilarSchoolComparisonUrl(row.Urn)" class="govuk-link">@row.Name</a></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-top-performer-value>@row.DisplayValue</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="govuk-body govuk-!-margin-bottom-1"><a href="@SimilarSchoolsUrl()" class="govuk-link">See all similar schools</a></p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="english-language-table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head"><tr class="govuk-table__row"><th scope="col" class="govuk-table__header">School(s)</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th></tr></thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in englishLanguageRows)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">@row.Label</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-english-language-cell="@($"{row.Key}-prev2")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous2)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-english-language-cell="@($"{row.Key}-prev")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-english-language-cell="@($"{row.Key}-current")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Current)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-english-language-cell="@($"{row.Key}-avg")">@row.Display</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<section aria-labelledby="english-literature-heading" class="app-ks4-attainment govuk-!-margin-top-7">
    <h2 class="govuk-heading-m" id="english-literature-heading">English literature</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="englishLiteratureGrade">Grade</label>
            <select class="govuk-select"
                    id="englishLiteratureGrade"
                    name="englishLiteratureGrade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjectsData", "School", new { urn = Model.SchoolDetails.Urn, subject = "english-literature" })"
                    data-query-key="grade"
                    data-bar-chart-id="english-literature-school-chart"
                    data-line-chart-id="english-literature-school-yearbyyear-chart"
                    data-cell-attribute="data-english-literature-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchools":"similar","localAuthority":"la","england":"england"}'
                    data-series-keys='["thisSchool","similarSchools","localAuthority","england"]'
                    data-top-performers-table-id="english-literature-top-performers-table"
                    data-top-performer-base-url="/school/@Model.SchoolDetails.Urn/view-similar-schools">
                <option value="4" selected>Grade 4 and above</option>
                <option value="5">Grade 5 and above</option>
                <option value="7">Grade 7 and above</option>
            </select>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="englishLiteratureCharacteristic">Pupil characteristic</label>
            <select class="govuk-select" id="englishLiteratureCharacteristic" name="englishLiteratureCharacteristic" disabled>
                <option selected>All pupils</option>
            </select>
        </div>
    </div>
    <div class="govuk-tabs govuk-!-margin-bottom-3 app-ks4-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"><a class="govuk-tabs__tab" href="#english-literature-three-year-average">3-year average</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#english-literature-year-by-year">Year by year</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#english-literature-table-view">Table</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#english-literature-top-performers">Top performers</a></li>
        </ul>
        <div class="govuk-tabs__panel" id="english-literature-three-year-average">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                @{
                    var englishLiteratureBarData = new decimal?[] { Model.EnglishLiterature.SchoolThreeYearAverage, Model.EnglishLiterature.SimilarSchoolsThreeYearAverage, Model.EnglishLiterature.LocalAuthorityThreeYearAverage, Model.EnglishLiterature.EnglandThreeYearAverage };
                }
                @if (HasAnyData(englishLiteratureBarData))
                {
                    <canvas id="english-literature-school-chart" class="js-chart js-chart--school-ks4-bar" data-type="bar" data-show-no-data-labels="true" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-label-decimals="0" data-bar-thickness="50" data-category-percentage="0.6" data-bar-percentage="1" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels, data = englishLiteratureBarData }))'></canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="english-literature-year-by-year">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                <canvas id="english-literature-school-yearbyyear-chart" class="js-chart js-chart--school-ks4-line" data-type="line" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-show-legend="true" data-show-datalabels="false" data-show-x-grid="true" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels = ks4YearLabels, datasets = new object[] { new { label = Model.SchoolLabel, data = new decimal?[] { Model.EnglishLiterature.SchoolYearByYear.Previous2, Model.EnglishLiterature.SchoolYearByYear.Previous, Model.EnglishLiterature.SchoolYearByYear.Current } }, new { label = Model.SimilarSchoolsLabel, data = new decimal?[] { Model.EnglishLiterature.SimilarSchoolsYearByYear.Previous2, Model.EnglishLiterature.SimilarSchoolsYearByYear.Previous, Model.EnglishLiterature.SimilarSchoolsYearByYear.Current } }, new { label = Model.LocalAuthorityLabel, data = new decimal?[] { Model.EnglishLiterature.LocalAuthorityYearByYear.Previous2, Model.EnglishLiterature.LocalAuthorityYearByYear.Previous, Model.EnglishLiterature.LocalAuthorityYearByYear.Current } }, new { label = Model.EnglandLabel, data = new decimal?[] { Model.EnglishLiterature.EnglandYearByYear.Previous2, Model.EnglishLiterature.EnglandYearByYear.Previous, Model.EnglishLiterature.EnglandYearByYear.Current } } } }))'></canvas>
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="english-literature-top-performers">
            <p class="govuk-body">These are the top performing similar schools for this measure.</p>
            <table class="govuk-table" id="english-literature-top-performers-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Rank</th>
                        <th scope="col" class="govuk-table__header">School</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in Model.EnglishLiterature.TopPerformers)
                    {
                        <tr class="govuk-table__row" data-top-performer-row="english-literature">
                            <td class="govuk-table__cell" data-top-performer-rank>@row.Rank</td>
                            <th scope="row" class="govuk-table__header" data-top-performer-name><a href="@SimilarSchoolComparisonUrl(row.Urn)" class="govuk-link">@row.Name</a></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-top-performer-value>@row.DisplayValue</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="govuk-body govuk-!-margin-bottom-1"><a href="@SimilarSchoolsUrl()" class="govuk-link">See all similar schools</a></p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="english-literature-table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head"><tr class="govuk-table__row"><th scope="col" class="govuk-table__header">School(s)</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th></tr></thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in englishLiteratureRows)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">@row.Label</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-english-literature-cell="@($"{row.Key}-prev2")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous2)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-english-literature-cell="@($"{row.Key}-prev")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-english-literature-cell="@($"{row.Key}-current")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Current)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-english-literature-cell="@($"{row.Key}-avg")">@row.Display</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<section aria-labelledby="maths-heading" class="app-ks4-attainment govuk-!-margin-top-7">
    <h2 class="govuk-heading-m" id="maths-heading">Mathematics</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="mathsGrade">Grade</label>
            <select class="govuk-select"
                    id="mathsGrade"
                    name="mathsGrade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjectsData", "School", new { urn = Model.SchoolDetails.Urn, subject = "maths" })"
                    data-query-key="grade"
                    data-bar-chart-id="maths-school-chart"
                    data-line-chart-id="maths-school-yearbyyear-chart"
                    data-cell-attribute="data-maths-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchools":"similar","localAuthority":"la","england":"england"}'
                    data-series-keys='["thisSchool","similarSchools","localAuthority","england"]'
                    data-top-performers-table-id="maths-top-performers-table"
                    data-top-performer-base-url="/school/@Model.SchoolDetails.Urn/view-similar-schools">
                <option value="4" selected>Grade 4 and above</option>
                <option value="5">Grade 5 and above</option>
                <option value="7">Grade 7 and above</option>
            </select>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="mathsCharacteristic">Pupil characteristic</label>
            <select class="govuk-select" id="mathsCharacteristic" name="mathsCharacteristic" disabled>
                <option selected>All pupils</option>
            </select>
        </div>
    </div>
    <div class="govuk-tabs govuk-!-margin-bottom-3 app-ks4-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"><a class="govuk-tabs__tab" href="#maths-three-year-average">3-year average</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#maths-year-by-year">Year by year</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#maths-table-view">Table</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#maths-top-performers">Top performers</a></li>
        </ul>
        <div class="govuk-tabs__panel" id="maths-three-year-average">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                @{
                    var mathsBarData = new decimal?[] { Model.Maths.SchoolThreeYearAverage, Model.Maths.SimilarSchoolsThreeYearAverage, Model.Maths.LocalAuthorityThreeYearAverage, Model.Maths.EnglandThreeYearAverage };
                }
                @if (HasAnyData(mathsBarData))
                {
                    <canvas id="maths-school-chart" class="js-chart js-chart--school-ks4-bar" data-type="bar" data-show-no-data-labels="true" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-label-decimals="0" data-bar-thickness="50" data-category-percentage="0.6" data-bar-percentage="1" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels, data = mathsBarData }))'></canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="maths-year-by-year">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                <canvas id="maths-school-yearbyyear-chart" class="js-chart js-chart--school-ks4-line" data-type="line" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-show-legend="true" data-show-datalabels="false" data-show-x-grid="true" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels = ks4YearLabels, datasets = new object[] { new { label = Model.SchoolLabel, data = new decimal?[] { Model.Maths.SchoolYearByYear.Previous2, Model.Maths.SchoolYearByYear.Previous, Model.Maths.SchoolYearByYear.Current } }, new { label = Model.SimilarSchoolsLabel, data = new decimal?[] { Model.Maths.SimilarSchoolsYearByYear.Previous2, Model.Maths.SimilarSchoolsYearByYear.Previous, Model.Maths.SimilarSchoolsYearByYear.Current } }, new { label = Model.LocalAuthorityLabel, data = new decimal?[] { Model.Maths.LocalAuthorityYearByYear.Previous2, Model.Maths.LocalAuthorityYearByYear.Previous, Model.Maths.LocalAuthorityYearByYear.Current } }, new { label = Model.EnglandLabel, data = new decimal?[] { Model.Maths.EnglandYearByYear.Previous2, Model.Maths.EnglandYearByYear.Previous, Model.Maths.EnglandYearByYear.Current } } } }))'></canvas>
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="maths-top-performers">
            <p class="govuk-body">These are the top performing similar schools for this measure.</p>
            <table class="govuk-table" id="maths-top-performers-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Rank</th>
                        <th scope="col" class="govuk-table__header">School</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in Model.Maths.TopPerformers)
                    {
                        <tr class="govuk-table__row" data-top-performer-row="maths">
                            <td class="govuk-table__cell" data-top-performer-rank>@row.Rank</td>
                            <th scope="row" class="govuk-table__header" data-top-performer-name><a href="@SimilarSchoolComparisonUrl(row.Urn)" class="govuk-link">@row.Name</a></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-top-performer-value>@row.DisplayValue</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="govuk-body govuk-!-margin-bottom-1"><a href="@SimilarSchoolsUrl()" class="govuk-link">See all similar schools</a></p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="maths-table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head"><tr class="govuk-table__row"><th scope="col" class="govuk-table__header">School(s)</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th></tr></thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in mathsRows)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">@row.Label</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-maths-cell="@($"{row.Key}-prev2")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous2)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-maths-cell="@($"{row.Key}-prev")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-maths-cell="@($"{row.Key}-current")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Current)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-maths-cell="@($"{row.Key}-avg")">@row.Display</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<section aria-labelledby="combined-science-heading" class="app-ks4-attainment govuk-!-margin-top-7">
    <h2 class="govuk-heading-m" id="combined-science-heading">Combined science (double award)</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="combinedScienceGrade">Grade</label>
            <select class="govuk-select"
                    id="combinedScienceGrade"
                    name="combinedScienceGrade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjectsData", "School", new { urn = Model.SchoolDetails.Urn, subject = "combined-science-double-award" })"
                    data-query-key="grade"
                    data-bar-chart-id="combined-science-school-chart"
                    data-line-chart-id="combined-science-school-yearbyyear-chart"
                    data-cell-attribute="data-combined-science-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchools":"similar","localAuthority":"la","england":"england"}'
                    data-series-keys='["thisSchool","similarSchools","localAuthority","england"]'
                    data-top-performers-table-id="combined-science-top-performers-table"
                    data-top-performer-base-url="/school/@Model.SchoolDetails.Urn/view-similar-schools">
                <option value="4" selected>Grade 4-4 and above</option>
                <option value="5">Grade 5-5 and above</option>
                <option value="7">Grade 7-7 and above</option>
            </select>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="combinedScienceCharacteristic">Pupil characteristic</label>
            <select class="govuk-select" id="combinedScienceCharacteristic" name="combinedScienceCharacteristic" disabled>
                <option selected>All pupils</option>
            </select>
        </div>
    </div>
    <div class="govuk-tabs govuk-!-margin-bottom-3 app-ks4-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"><a class="govuk-tabs__tab" href="#combined-science-three-year-average">3-year average</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#combined-science-year-by-year">Year by year</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#combined-science-table-view">Table</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#combined-science-top-performers">Top performers</a></li>
        </ul>
        <div class="govuk-tabs__panel" id="combined-science-three-year-average">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                @{
                    var combinedScienceBarData = new decimal?[] { Model.CombinedScienceDoubleAward.SchoolThreeYearAverage, Model.CombinedScienceDoubleAward.SimilarSchoolsThreeYearAverage, Model.CombinedScienceDoubleAward.LocalAuthorityThreeYearAverage, Model.CombinedScienceDoubleAward.EnglandThreeYearAverage };
                }
                @if (HasAnyData(combinedScienceBarData))
                {
                    <canvas id="combined-science-school-chart" class="js-chart js-chart--school-ks4-bar" data-type="bar" data-show-no-data-labels="true" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-label-decimals="0" data-bar-thickness="50" data-category-percentage="0.6" data-bar-percentage="1" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels, data = combinedScienceBarData }))'></canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="combined-science-year-by-year">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                <canvas id="combined-science-school-yearbyyear-chart" class="js-chart js-chart--school-ks4-line" data-type="line" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-show-legend="true" data-show-datalabels="false" data-show-x-grid="true" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels = ks4YearLabels, datasets = new object[] { new { label = Model.SchoolLabel, data = new decimal?[] { Model.CombinedScienceDoubleAward.SchoolYearByYear.Previous2, Model.CombinedScienceDoubleAward.SchoolYearByYear.Previous, Model.CombinedScienceDoubleAward.SchoolYearByYear.Current } }, new { label = Model.SimilarSchoolsLabel, data = new decimal?[] { Model.CombinedScienceDoubleAward.SimilarSchoolsYearByYear.Previous2, Model.CombinedScienceDoubleAward.SimilarSchoolsYearByYear.Previous, Model.CombinedScienceDoubleAward.SimilarSchoolsYearByYear.Current } }, new { label = Model.LocalAuthorityLabel, data = new decimal?[] { Model.CombinedScienceDoubleAward.LocalAuthorityYearByYear.Previous2, Model.CombinedScienceDoubleAward.LocalAuthorityYearByYear.Previous, Model.CombinedScienceDoubleAward.LocalAuthorityYearByYear.Current } }, new { label = Model.EnglandLabel, data = new decimal?[] { Model.CombinedScienceDoubleAward.EnglandYearByYear.Previous2, Model.CombinedScienceDoubleAward.EnglandYearByYear.Previous, Model.CombinedScienceDoubleAward.EnglandYearByYear.Current } } } }))'></canvas>
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="combined-science-top-performers">
            <p class="govuk-body">These are the top performing similar schools for this measure.</p>
            <table class="govuk-table" id="combined-science-top-performers-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Rank</th>
                        <th scope="col" class="govuk-table__header">School</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in Model.CombinedScienceDoubleAward.TopPerformers)
                    {
                        <tr class="govuk-table__row" data-top-performer-row="combined-science">
                            <td class="govuk-table__cell" data-top-performer-rank>@row.Rank</td>
                            <th scope="row" class="govuk-table__header" data-top-performer-name><a href="@SimilarSchoolComparisonUrl(row.Urn)" class="govuk-link">@row.Name</a></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-top-performer-value>@row.DisplayValue</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="govuk-body govuk-!-margin-bottom-1"><a href="@SimilarSchoolsUrl()" class="govuk-link">See all similar schools</a></p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="combined-science-table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head"><tr class="govuk-table__row"><th scope="col" class="govuk-table__header">School(s)</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th></tr></thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in combinedScienceRows)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">@row.Label</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-combined-science-cell="@($"{row.Key}-prev2")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous2)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-combined-science-cell="@($"{row.Key}-prev")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-combined-science-cell="@($"{row.Key}-current")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Current)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-combined-science-cell="@($"{row.Key}-avg")">@row.Display</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<section aria-labelledby="biology-heading" class="app-ks4-attainment govuk-!-margin-top-7">
    <h2 class="govuk-heading-m" id="biology-heading">Biology</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="biologyGrade">Grade</label>
            <select class="govuk-select"
                    id="biologyGrade"
                    name="biologyGrade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjectsData", "School", new { urn = Model.SchoolDetails.Urn, subject = "biology" })"
                    data-query-key="grade"
                    data-bar-chart-id="biology-school-chart"
                    data-line-chart-id="biology-school-yearbyyear-chart"
                    data-cell-attribute="data-biology-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchools":"similar","localAuthority":"la","england":"england"}'
                    data-series-keys='["thisSchool","similarSchools","localAuthority","england"]'
                    data-top-performers-table-id="biology-top-performers-table"
                    data-top-performer-base-url="/school/@Model.SchoolDetails.Urn/view-similar-schools">
                <option value="4" selected>Grade 4 and above</option>
                <option value="5">Grade 5 and above</option>
                <option value="7">Grade 7 and above</option>
            </select>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="biologyCharacteristic">Pupil characteristic</label>
            <select class="govuk-select" id="biologyCharacteristic" name="biologyCharacteristic" disabled>
                <option selected>All pupils</option>
            </select>
        </div>
    </div>
    <div class="govuk-tabs govuk-!-margin-bottom-3 app-ks4-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"><a class="govuk-tabs__tab" href="#biology-three-year-average">3-year average</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#biology-year-by-year">Year by year</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#biology-table-view">Table</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#biology-top-performers">Top performers</a></li>
        </ul>
        <div class="govuk-tabs__panel" id="biology-three-year-average">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                @{
                    var biologyBarData = new decimal?[] { Model.Biology.SchoolThreeYearAverage, Model.Biology.SimilarSchoolsThreeYearAverage, Model.Biology.LocalAuthorityThreeYearAverage, Model.Biology.EnglandThreeYearAverage };
                }
                @if (HasAnyData(biologyBarData))
                {
                    <canvas id="biology-school-chart" class="js-chart js-chart--school-ks4-bar" data-type="bar" data-show-no-data-labels="true" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-label-decimals="0" data-bar-thickness="50" data-category-percentage="0.6" data-bar-percentage="1" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels, data = biologyBarData }))'></canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="biology-year-by-year">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                <canvas id="biology-school-yearbyyear-chart" class="js-chart js-chart--school-ks4-line" data-type="line" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-show-legend="true" data-show-datalabels="false" data-show-x-grid="true" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels = ks4YearLabels, datasets = new object[] { new { label = Model.SchoolLabel, data = new decimal?[] { Model.Biology.SchoolYearByYear.Previous2, Model.Biology.SchoolYearByYear.Previous, Model.Biology.SchoolYearByYear.Current } }, new { label = Model.SimilarSchoolsLabel, data = new decimal?[] { Model.Biology.SimilarSchoolsYearByYear.Previous2, Model.Biology.SimilarSchoolsYearByYear.Previous, Model.Biology.SimilarSchoolsYearByYear.Current } }, new { label = Model.LocalAuthorityLabel, data = new decimal?[] { Model.Biology.LocalAuthorityYearByYear.Previous2, Model.Biology.LocalAuthorityYearByYear.Previous, Model.Biology.LocalAuthorityYearByYear.Current } }, new { label = Model.EnglandLabel, data = new decimal?[] { Model.Biology.EnglandYearByYear.Previous2, Model.Biology.EnglandYearByYear.Previous, Model.Biology.EnglandYearByYear.Current } } } }))'></canvas>
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="biology-top-performers">
            <p class="govuk-body">These are the top performing similar schools for this measure.</p>
            <table class="govuk-table" id="biology-top-performers-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Rank</th>
                        <th scope="col" class="govuk-table__header">School</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in Model.Biology.TopPerformers)
                    {
                        <tr class="govuk-table__row" data-top-performer-row="biology">
                            <td class="govuk-table__cell" data-top-performer-rank>@row.Rank</td>
                            <th scope="row" class="govuk-table__header" data-top-performer-name><a href="@SimilarSchoolComparisonUrl(row.Urn)" class="govuk-link">@row.Name</a></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-top-performer-value>@row.DisplayValue</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="govuk-body govuk-!-margin-bottom-1"><a href="@SimilarSchoolsUrl()" class="govuk-link">See all similar schools</a></p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="biology-table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head"><tr class="govuk-table__row"><th scope="col" class="govuk-table__header">School(s)</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th></tr></thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in biologyRows)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">@row.Label</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-biology-cell="@($"{row.Key}-prev2")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous2)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-biology-cell="@($"{row.Key}-prev")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-biology-cell="@($"{row.Key}-current")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Current)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-biology-cell="@($"{row.Key}-avg")">@row.Display</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<section aria-labelledby="chemistry-heading" class="app-ks4-attainment govuk-!-margin-top-7">
    <h2 class="govuk-heading-m" id="chemistry-heading">Chemistry</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="chemistryGrade">Grade</label>
            <select class="govuk-select"
                    id="chemistryGrade"
                    name="chemistryGrade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjectsData", "School", new { urn = Model.SchoolDetails.Urn, subject = "chemistry" })"
                    data-query-key="grade"
                    data-bar-chart-id="chemistry-school-chart"
                    data-line-chart-id="chemistry-school-yearbyyear-chart"
                    data-cell-attribute="data-chemistry-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchools":"similar","localAuthority":"la","england":"england"}'
                    data-series-keys='["thisSchool","similarSchools","localAuthority","england"]'
                    data-top-performers-table-id="chemistry-top-performers-table"
                    data-top-performer-base-url="/school/@Model.SchoolDetails.Urn/view-similar-schools">
                <option value="4" selected>Grade 4 and above</option>
                <option value="5">Grade 5 and above</option>
                <option value="7">Grade 7 and above</option>
            </select>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="chemistryCharacteristic">Pupil characteristic</label>
            <select class="govuk-select" id="chemistryCharacteristic" name="chemistryCharacteristic" disabled>
                <option selected>All pupils</option>
            </select>
        </div>
    </div>
    <div class="govuk-tabs govuk-!-margin-bottom-3 app-ks4-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"><a class="govuk-tabs__tab" href="#chemistry-three-year-average">3-year average</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#chemistry-year-by-year">Year by year</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#chemistry-table-view">Table</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#chemistry-top-performers">Top performers</a></li>
        </ul>
        <div class="govuk-tabs__panel" id="chemistry-three-year-average">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                @{
                    var chemistryBarData = new decimal?[] { Model.Chemistry.SchoolThreeYearAverage, Model.Chemistry.SimilarSchoolsThreeYearAverage, Model.Chemistry.LocalAuthorityThreeYearAverage, Model.Chemistry.EnglandThreeYearAverage };
                }
                @if (HasAnyData(chemistryBarData))
                {
                    <canvas id="chemistry-school-chart" class="js-chart js-chart--school-ks4-bar" data-type="bar" data-show-no-data-labels="true" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-label-decimals="0" data-bar-thickness="50" data-category-percentage="0.6" data-bar-percentage="1" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels, data = chemistryBarData }))'></canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="chemistry-year-by-year">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                <canvas id="chemistry-school-yearbyyear-chart" class="js-chart js-chart--school-ks4-line" data-type="line" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-show-legend="true" data-show-datalabels="false" data-show-x-grid="true" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels = ks4YearLabels, datasets = new object[] { new { label = Model.SchoolLabel, data = new decimal?[] { Model.Chemistry.SchoolYearByYear.Previous2, Model.Chemistry.SchoolYearByYear.Previous, Model.Chemistry.SchoolYearByYear.Current } }, new { label = Model.SimilarSchoolsLabel, data = new decimal?[] { Model.Chemistry.SimilarSchoolsYearByYear.Previous2, Model.Chemistry.SimilarSchoolsYearByYear.Previous, Model.Chemistry.SimilarSchoolsYearByYear.Current } }, new { label = Model.LocalAuthorityLabel, data = new decimal?[] { Model.Chemistry.LocalAuthorityYearByYear.Previous2, Model.Chemistry.LocalAuthorityYearByYear.Previous, Model.Chemistry.LocalAuthorityYearByYear.Current } }, new { label = Model.EnglandLabel, data = new decimal?[] { Model.Chemistry.EnglandYearByYear.Previous2, Model.Chemistry.EnglandYearByYear.Previous, Model.Chemistry.EnglandYearByYear.Current } } } }))'></canvas>
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="chemistry-top-performers">
            <p class="govuk-body">These are the top performing similar schools for this measure.</p>
            <table class="govuk-table" id="chemistry-top-performers-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Rank</th>
                        <th scope="col" class="govuk-table__header">School</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in Model.Chemistry.TopPerformers)
                    {
                        <tr class="govuk-table__row" data-top-performer-row="chemistry">
                            <td class="govuk-table__cell" data-top-performer-rank>@row.Rank</td>
                            <th scope="row" class="govuk-table__header" data-top-performer-name><a href="@SimilarSchoolComparisonUrl(row.Urn)" class="govuk-link">@row.Name</a></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-top-performer-value>@row.DisplayValue</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="govuk-body govuk-!-margin-bottom-1"><a href="@SimilarSchoolsUrl()" class="govuk-link">See all similar schools</a></p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="chemistry-table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head"><tr class="govuk-table__row"><th scope="col" class="govuk-table__header">School(s)</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th></tr></thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in chemistryRows)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">@row.Label</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-chemistry-cell="@($"{row.Key}-prev2")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous2)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-chemistry-cell="@($"{row.Key}-prev")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-chemistry-cell="@($"{row.Key}-current")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Current)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-chemistry-cell="@($"{row.Key}-avg")">@row.Display</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<section aria-labelledby="physics-heading" class="app-ks4-attainment govuk-!-margin-top-7">
    <h2 class="govuk-heading-m" id="physics-heading">Physics</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="physicsGrade">Grade</label>
            <select class="govuk-select"
                    id="physicsGrade"
                    name="physicsGrade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjectsData", "School", new { urn = Model.SchoolDetails.Urn, subject = "physics" })"
                    data-query-key="grade"
                    data-bar-chart-id="physics-school-chart"
                    data-line-chart-id="physics-school-yearbyyear-chart"
                    data-cell-attribute="data-physics-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchools":"similar","localAuthority":"la","england":"england"}'
                    data-series-keys='["thisSchool","similarSchools","localAuthority","england"]'
                    data-top-performers-table-id="physics-top-performers-table"
                    data-top-performer-base-url="/school/@Model.SchoolDetails.Urn/view-similar-schools">
                <option value="4" selected>Grade 4 and above</option>
                <option value="5">Grade 5 and above</option>
                <option value="7">Grade 7 and above</option>
            </select>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="physicsCharacteristic">Pupil characteristic</label>
            <select class="govuk-select" id="physicsCharacteristic" name="physicsCharacteristic" disabled>
                <option selected>All pupils</option>
            </select>
        </div>
    </div>
    <div class="govuk-tabs govuk-!-margin-bottom-3 app-ks4-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"><a class="govuk-tabs__tab" href="#physics-three-year-average">3-year average</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#physics-year-by-year">Year by year</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#physics-table-view">Table</a></li>
            <li class="govuk-tabs__list-item"><a class="govuk-tabs__tab" href="#physics-top-performers">Top performers</a></li>
        </ul>
        <div class="govuk-tabs__panel" id="physics-three-year-average">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                @{
                    var physicsBarData = new decimal?[] { Model.Physics.SchoolThreeYearAverage, Model.Physics.SimilarSchoolsThreeYearAverage, Model.Physics.LocalAuthorityThreeYearAverage, Model.Physics.EnglandThreeYearAverage };
                }
                @if (HasAnyData(physicsBarData))
                {
                    <canvas id="physics-school-chart" class="js-chart js-chart--school-ks4-bar" data-type="bar" data-show-no-data-labels="true" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-label-decimals="0" data-bar-thickness="50" data-category-percentage="0.6" data-bar-percentage="1" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels, data = physicsBarData }))'></canvas>
                }
                else
                {
                    <p class="govuk-body">No available data</p>
                }
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="physics-year-by-year">
            <div class="app-ks4-chart-container app-ks4-chart-container--school-headline">
                <canvas id="physics-school-yearbyyear-chart" class="js-chart js-chart--school-ks4-line" data-type="line" data-axis-step="25" data-axis-max="100" data-axis-suffix="%" data-show-legend="true" data-show-datalabels="false" data-show-x-grid="true" data-chart='@Html.Raw(JsonSerializer.Serialize(new { labels = ks4YearLabels, datasets = new object[] { new { label = Model.SchoolLabel, data = new decimal?[] { Model.Physics.SchoolYearByYear.Previous2, Model.Physics.SchoolYearByYear.Previous, Model.Physics.SchoolYearByYear.Current } }, new { label = Model.SimilarSchoolsLabel, data = new decimal?[] { Model.Physics.SimilarSchoolsYearByYear.Previous2, Model.Physics.SimilarSchoolsYearByYear.Previous, Model.Physics.SimilarSchoolsYearByYear.Current } }, new { label = Model.LocalAuthorityLabel, data = new decimal?[] { Model.Physics.LocalAuthorityYearByYear.Previous2, Model.Physics.LocalAuthorityYearByYear.Previous, Model.Physics.LocalAuthorityYearByYear.Current } }, new { label = Model.EnglandLabel, data = new decimal?[] { Model.Physics.EnglandYearByYear.Previous2, Model.Physics.EnglandYearByYear.Previous, Model.Physics.EnglandYearByYear.Current } } } }))'></canvas>
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="physics-top-performers">
            <p class="govuk-body">These are the top performing similar schools for this measure.</p>
            <table class="govuk-table" id="physics-top-performers-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Rank</th>
                        <th scope="col" class="govuk-table__header">School</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in Model.Physics.TopPerformers)
                    {
                        <tr class="govuk-table__row" data-top-performer-row="physics">
                            <td class="govuk-table__cell" data-top-performer-rank>@row.Rank</td>
                            <th scope="row" class="govuk-table__header" data-top-performer-name><a href="@SimilarSchoolComparisonUrl(row.Urn)" class="govuk-link">@row.Name</a></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-top-performer-value>@row.DisplayValue</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="govuk-body govuk-!-margin-bottom-1"><a href="@SimilarSchoolsUrl()" class="govuk-link">See all similar schools</a></p>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="physics-table-view">
            <table class="govuk-table">
                <thead class="govuk-table__head"><tr class="govuk-table__row"><th scope="col" class="govuk-table__header">School(s)</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[0]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[1]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">@ks4YearLabels[2]</th><th scope="col" class="govuk-table__header govuk-table__header--numeric">3-year average</th></tr></thead>
                <tbody class="govuk-table__body">
                    @foreach (var row in physicsRows)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">@row.Label</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-physics-cell="@($"{row.Key}-prev2")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous2)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-physics-cell="@($"{row.Key}-prev")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Previous)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-physics-cell="@($"{row.Key}-current")">@SAPSec.Web.ViewModels.Ks4CoreSubjectsPageViewModel.DisplayWholePercent(row.Series.Current)</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-physics-cell="@($"{row.Key}-avg")">@row.Display</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>














</div>

@section Scripts {
    <script src="~/js/chart.umd.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chart-factory.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/data-view-switcher.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/similar-schools-tabs-mobile-fix.js" asp-append-version="true" add-nonce="true"></script>
}

