@using SAPSec.Web.ViewModels
@model SimilarSchoolsPageViewModel

@if (Model.Schools.Any())
{
    @* Sort dropdown *@
    <div class="govuk-form-group govuk-!-margin-bottom-4">
        <label class="govuk-label govuk-!-display-inline govuk-!-font-weight-bold" for="sort-by">Sort by</label>
        <select class="govuk-select" id="sort-by" name="sortBy" form="similar-schools-filter-form">
            @foreach (var option in Model.SortOptions)
            {
                <option value="@option.Key" selected="@(option.Selected ? "selected" : null)">@option.Name</option>
            }
        </select>
    </div>  
    
    <div class="results-bar">
        <p class="govuk-body app-school-results-count">
            Showing <strong>@Model.ShowingFrom-@Model.ShowingTo</strong> of <strong>@Model.TotalResults</strong> similar schools
        </p>

        <!-- Parent view will move the toggle link into here -->
        <div id="resultsBarActions"></div>
    </div>
    
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">

    <ul class="govuk-list app-school-results">
        @foreach (var school in Model.Schools)
        {
            <li class="app-school-result" id="similar-school-@school.Urn">
                <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold"
                   href="@Url.Action("Index", "School", new { urn = school.Urn })">
                    @school.EstablishmentName
                </a>
                <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                    @school.FullAddress
                </p>
                <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                    <strong>Attainment 8:</strong> @(school.Att8Scr.HasValue? school.Att8Scr.Value.ToString("F0") : "N/A")
                </p>
            </li>
        }
    </ul>
}
else
{
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
    <p class="govuk-body">No similar schools found matching your filters. Try removing some filters to see more results.</p>
}
