@model SAPSec.Web.ViewModels.SchoolSearchResultViewModel[]

@{
    var startItem = ViewData["StartItem"] as int? ?? 1;
    var endItem = ViewData["EndItem"] as int? ?? Model.Length;
    var totalResults = ViewData["TotalResults"] as int? ?? Model.Length;
}

@if (Model.Length > 0)
{
    <div class="results-bar govuk-!-margin-bottom-4">
    <p class="govuk-body govuk-!-margin-bottom-4 app-school-results-count">
        Showing <strong>@startItem-@endItem</strong> of <strong>@totalResults</strong> schools
    </p>

        <!-- Parent view will move the toggle link into here -->
        <div id="resultsBarActions"></div>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-0">
    <ul class="govuk-list app-school-results">
        @foreach (var result in Model)
        {
            <li class="app-school-result" id="search-result-@result.URN">
                <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold"
                   href="@Url.Action("Index", "School", new { result.URN })"
                   aria-describedby="school-@result.URN-hint">
                    @result.SchoolName
                </a>
                <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0 app-school-result__la">
                    @result.Address
                </p>
                <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0 app-school-result__la">
                    <strong>Local authority:</strong> @result.LocalAuthority
                </p>
            </li>
        }
    </ul>
}
