@using SAPSec.Web.Helpers
@using SAPSec.Web.ViewModels
@model DemoSimilarSchoolsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "View similar schools";
}

<span class="govuk-caption-xl">@Model.Name</span>
<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<h2 class="govuk-heading-m">Sort options</h2>
<p>Click an option to sort</p>
<ul>
    @foreach (var o in Model.SortOptions)
    {
        if (o.Selected)
        {
            <li>@o.Key: <strong>@o.Name @(o.Selected ? "(selected)" : "")</strong></li>
        }
        else
        {
            <li>@o.Key: <a href="@(Model.CurrentUrl)&sort=@o.Key">@o.Name</a></li>
        }
    }
</ul>

<h2 class="govuk-heading-m">Filter options</h2>
<p>Click an option to filter</p>

<ul>
    @foreach (var filter in Model.FilterOptions)
    {
        <li>
            @filter.Name

            <ul>
            @foreach (var o in filter.Options)
            {
                if (o.Selected)
                {
                    <li>@o.Key: <strong>@o.Name @(o.Selected ? "(selected)" : "")</strong></li>
                }
                else
                {
                    <li>@o.Key: <a href="@(Model.CurrentUrl)&@filter.Key=@o.Key">@o.Name</a></li>
                }
            }
            </ul>

            This school: @filter.CurrentSchoolValue.Display()
        </li>
    }
</ul>

<h2 class="govuk-heading-m">Page @Model.ResultsPage.CurrentPage results</h2>

<ul>
    @foreach (var result in Model.ResultsPage)
    {
        <li>
            <a href="demo-similar-schools/@result.URN">@result.Name</a>

            <ul>
                <li>URN: @result.URN</li>
                <li>Name: @result.Name</li>
                <li>Street: @result.Street</li>
                <li>Locality: @result.Locality</li>
                <li>Address3: @result.Address3</li>
                <li>Town: @result.Town</li>
                <li>Postcode: @result.Postcode</li>
                <li>LA Name: @result.LAName</li>
                <li>Latitude: @result.Latitude</li>
                <li>Longitude: @result.Longitude</li>
                <li>UrbanRuralId: @result.UrbanRuralId</li>
                <li>UrbanRuralName: @result.UrbanRuralName</li>
                <li>SortValue: @result.SortValue</li>
            </ul>
        </li>
    }
</ul>

<h2 class="govuk-heading-m">All results</h2>

<ul>
    @foreach (var result in Model.AllResults)
    {
        <li>
            <a href="demo-similar-schools/@result.URN">@result.Name</a>

            <ul>
                <li>URN: @result.URN</li>
                <li>Name: @result.Name</li>
                <li>Street: @result.Street</li>
                <li>Locality: @result.Locality</li>
                <li>Address3: @result.Address3</li>
                <li>Town: @result.Town</li>
                <li>Postcode: @result.Postcode</li>
                <li>LA Name: @result.LAName</li>
                <li>Latitude: @result.Latitude</li>
                <li>Longitude: @result.Longitude</li>
                <li>UrbanRuralId: @result.UrbanRuralId</li>
                <li>UrbanRuralName: @result.UrbanRuralName</li>
                <li>SortValue: @result.SortValue</li>
            </ul>
        </li>
    }
</ul>